* {
  box-sizing: border-box;
  overflow: hidden;
}

@mixin imagemoving() {
  display: block;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.1);	/*画像の拡大率*/
    transition-duration: 0.6s;	/*変化に掛かる時間*/
  }
}

.main-contents {
  &__images {
    position: absolute;
    display: flex;
    .home_pudding_link {
      width: 50%;
      height: 840px;
    }
    .home_pudding_img {
      width: 100%;
      height: 840px;
      object-fit: cover;
      object-position:0% 90%;
      overflow: hidden;
      @include imagemoving();
    }
    .home_bagel_link {
      width: 50%;
      height: 840px;
    }
    .home_bagel_img {
      width: 100%;
      height: 840px;
      object-fit: cover;
      overflow: hidden;
      @include imagemoving();
    }
  }
  &__maincopy {
    position: relative;
    font-family: "karakaze";
    font-size: 100px;
    text-align: center;
    margin-top: 240px;
    color: white;
  }
}